@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Exo+2&family=Miriam+Libre&family=PT+Sans+Narrow&display=swap');
body {
  /*font-family: 'Barlow', sans-serif;
font-family: 'Exo 2', sans-serif;
font-family: 'Miriam Libre', sans-serif;*/
  font-family: 'PT Sans Narrow', sans-serif;
  /*background-image: url(../images/bg.jpg);*/
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  background-color: #157ac8;
}

.carousel {
  position: relative;
  height: 70%;
  width: 1150px;
}

.carousel-inner {
  border-radius: 0px 160px 0px 0px;
}

.w-custom {
  width: 100%!important;
  height: 85vh;
}

#banner_svg {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 85%;
}

/*.bottom-right {
  position: relative;
  margin-top: 25%;
}
*/

/* ======== Gradient part ========*/

.gradient {
    height: 120px;
    width: 775px;
    border-radius: 88px 0px 0px 0px;
    transform: rotateZ(159.666deg);
    background-image: linear-gradient( to right, #157ac8, #39d64c);
    margin-top: -119.5px;
    margin-left: -74px;
}

.gradient-footer {
    position: absolute;
    height: 106px;
    width: 524px;
    border-radius: 0px 90px 0px 90px;
    border-radius: 93 36px 0px 0px;
    transform: rotate(328deg);
    background-image: linear-gradient( to right, #06416d, #19192f);
    /* margin-top: -12%; */
    float: right;
    z-index: 1;
    /* position: absolute; */
    top: 53px;
    left: 186px;

}

/*==== Slide text =====*/

.slide-text {
    position: absolute;
    top: 45px;
    right: 10px;
}

.slide-text p {
  font-size: 40px;
  letter-spacing: 10px;
}

.slide-text span {
  font-size: 60px;
  display: block;
}

.slide-text .dummy-text {
  font-size: 18px !important;
  letter-spacing: 4px !important;
}

.slide-text button {
  background-color: #111;
  border: 1px solid #111;
  color: #fff;
  padding: 5px 25px;
  cursor: pointer;
  font-size: 17px;
  border-radius: 2px;
  float: right;
}

.about-us {
    position: absolute;
    right: 0%;
    top: 324px;
    width: 575px;
    font-family: 'Exo 2', sans-serif;
    background-image: url(../images/aboutbg.jpg);
    background-size: 100% 100%;
    height: 80vh;
}

.about-us img {
  width: 60%;
  height: 60vh;
}
.about-us-text {
    font-size: 13px;
    padding: 70px;
    margin-top: 65px;
}

.footer-gradient {
  height: 30%;
  width: 50%;
  border-radius: 30px;
  transform: rotateZ(145deg);
  background-image: linear-gradient( to right, #157ac8, #39d64c);
}

.aboutus {
  font-size: 15px;
}

.footer-text {
  float: right;
}

.content {
    width: 70%;
    margin: -106px auto;
    height: 45vh;

  }

.content-text {
  transform: rotateZ(339deg);
  margin-bottom: 35%;
}
.content-text h2 {
  font-size: 50px;
}
.vertical {
  /*transform: rotateZ(90deg);*/
}

.green {
  color: #0ccf0c;
}

.blue {
  color: #41c8dd;
}

.fnt-12 {
  font-size: 11px;
}

.fnt-25 {
  font-size: 25px;
}

.fnt-28 {
  font-size: 28px;
}

.fnt-30 {
  font-size: 30px;
}

.transformed-texts {
    position: relative;
    margin-left: 20%;
    z-index: 99;
}

.transformed-texts p {
  position: absolute;
}

.vertical {
    transform: rotateZ(90deg) !important;
    left: -20px;
    font-size: 32px !important;
}

/* ==== Content  ====*/

.rest {
    bottom: -21px;
    left: -68px;
    font-size: 18px !important;
}

.sport {
    left: -106px;
    text-align: right;
    line-height: 26px;
        font-size: 32px;
}

.hospital {
    left: 75px;
    bottom: 40px;
    letter-spacing: 6px;
    line-height: 35px;
}
.logistics {
    top: 100px;
    left: -40px;
    line-height: 33px;
    font-size: 29px !important;
}
.factory {}

.uni-school {
    left: 18px;
    bottom: 60px;
    font-size: 19px !important;
    letter-spacing: 2px;
}

.private {
    left: 105px;
    line-height: 28px;
    top: 8px;
}

.sector {
left: 105px;
    top: 65px;
    letter-spacing: 4px;
    font-size: 18px !important;
}

/*Container*/
.container {
 /* width: 920px;
    margin: 10px auto;*/
}



/* ====== bottom ===========*/

.bottom-right {
  float: right;
  position: relative;
}
.slide-text-news {
  position: absolute;
  
} 
.slide-text-news p {
  display: inline-block;
  margin-right: 5px;
}

.slide-text-news button {
   background-color: #111;
  border: 1px solid #111;
  color: #fff;
  padding: 5px 25px;
  cursor: pointer;
  font-size: 17px;
  border-radius: 2px;
  float: right;
}

.carousel-footer {
    width: 800px !important;
    top: 350px;
    float: right;
    position: relative;
}
.carousel-footer:before {
content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    border-top: 450px solid white;
    border-right: 715px solid #ff000000;
    width: 0;
    z-index: 1;

}
.carousel-footer img {
        height: 460px;
}

.carousel-footer .carousel-inner {
  border-radius: 0px 160px 0px 0px;
}

.slide-text-footer {
 position: absolute;
    bottom: 0;
    margin-bottom:15px ; 
    right: 55px;
    font-size: 18px !important;
    letter-spacing: 4px !important;

}

.slide-text-footer button {
    background-color: #111;
    border: 1px solid #111;
    color: #fff;
    padding: 5px 25px;
    cursor: pointer;
    font-size: 17px;
    border-radius: 2px;
    float: right;
} 

.text-header{

float: right;
    position: absolute;
    right: 152px;
    z-index: 9;
    font-size: 60px;
    top: -105px;
    color: #fff;
    top: -23px;
}


footer {
     /* box-shadow: -10px 63px 15px #111;*/
    height: 106vh;

    clear: both;
    margin-bottom: 7px;
}
.aboutus_img {
  width: 100%;
  height: 40vh;
}
.black-div {
  z-index: 99;
  position: fixed ;
  bottom: 0;
  height: 10px;
  width: 100%;
  background-color: #111;
}

/* ================Media Query ==================*/

@media only screen and (max-width: 600px) {

.slide-text p {
  letter-spacing: 9px;
}
  .carousel  {
    width: 100%;
  }
  .carousel-inner {
    /*border-radius: 0px;*/
  }
  #banner_svg {
   /* display: none;*/  
  }
   .gradient {
   /* display: none;*/
   /*
   transform: rotateZ(155.666deg);
    margin-top: -137.5px;*/

  }
  .about-us {
    position: initial;
        width: 100%;
  }

  .slide-text {
    top: 100px;
    right: 45px;
    margin-left: 6px;
}
.about-us-text{
font-size: 10px;
   
    text-align: center; }
.aboutus  {
  font-size: 12px;
}

.transformed-texts {
  margin-left: 30%;  
}

.transformed-texts p{
/*position: initial; */
}

.content {
  width: 100%;
      margin: 0px auto;
    height: 80vh;
}

.content-text {
   transform: none;
       margin-bottom: 55%;

    text-align: center;
}
.content-text h2 {
  font-size: 40px;
}

.carousel-footer {
  width: 100% !important;
  float: initial; 
}

.carousel-footer:before {
  display: none;
}

.text-header  {
  position: initial;
  float: initial; 
    font-size: 50px;
    text-align: center;
}

.slide-text-footer {
  text-align: center;
      bottom: 40px;
    right: 0;
}

.carousel-footer .carousel-inner {
  /*border-radius: 0px;*/
}

.slide-text-footer{

}

.slide-text-footer button{
  float: initial;
}
.private {
  font-size: 20px;
}
}

